html {
    background-color: white;
    color: black;
}

.container {
    background-color: rgb(0, 0, 0);
    height: 4rem;
    display: flex;
    color: white;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.name {
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
    align-items: center;
    padding-right: 1rem;
    color: white;
}

.display {
    display: grid;
    grid-template: repeat(8, 1fr) / 1fr 1fr;
    height: 500px;
    max-width: 100%;
    gap: 1rem;
}



.kevin {
    background-image: url("media/3F8A4D90-AEAD-4D61-80E8-4CD895360FCE.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    grid-area: 1/2/9/2;
    background-color: black;
    border-radius: 10px;
}

.burning {
    display: grid;
    grid-area: 1/1/1/1;
    justify-content: end;
}




.testimonials {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    height: 1000px;
    margin-top: 1rem;
    gap: 1rem;
}

.thisone {
    grid-area: 1/1/1/1;
    background-image: url("media/04A306FB-9DEF-40F4-BA42-70F620353F3C.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    border-radius: 10px;
}

.flame {
    grid-area: 2/2/2/2;
    background-image: url("media/IMG_1204.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    border-radius: 10px;
}

.one {
    grid-area: 1/2/1/2;
    border-style: solid;
    width: 100%;
    text-align: center;
    background-color: rgba(206, 206, 206, 0.527);
    font-family: 'Licorice', cursive;
    border-radius: 10px;
}

.two {
    grid-area: 2/1/2/1;
    border-style: solid;
    width: 100%;
    text-align: center;
    background-color: rgba(206, 206, 206, 0.527);
    font-family: 'Licorice', cursive;
    border-radius: 10px;
}

.three {
 
}

p {
    padding: 1rem;
    font-size: 2rem;
}

.special {
    color: black;
    display: block;
    line-height: 10rem;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    text-align: center;
}


button {
    background-color: rgba(48, 114, 48, 0.219);
    width: 250px;
    height: 100px;
    font-size: 1.5rem;
    border-radius: 10px;
    
}

@media only screen and (max-width: 480px) {
    ul {
        display: none;
    }
    .display {
        display: block;
    }
    .burning {
        display: block;
    }
}